.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-h);
  background-color: black;
  color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  /* z-index: 1000;  */
}


.left-deco {
  position: absolute;
  bottom: var(--footer-h);
  left: 0;
  width: 250px;
  height: 30px;
  background-color: black;
  clip-path: polygon(0 0, 230px 0, 100% 100%, 0 100%);
}

.right-deco {
  position: absolute;
  bottom: var(--footer-h);
  right: 0;
  width: 250px;
  height: 30px;
  background-color: black;
  clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%);
    display: flex;
    align-items: last baseline;
    justify-content: flex-end;
    gap: 5px;
}