.platform-container {
  width: 100%;
  /* max-width: 90%;   TODO:großer monitor? verhindert Überbreite */
  margin: 15px auto;
}

.platform {
  background-color: transparent;
  width: 100%;
  max-width: 300px;
  border: none;
}

.plattform-img {
  width: 100%;
  min-width: 100px;
}.plattform-img:hover {
  cursor: url('/icons/fadenkreuz.svg')0 0, auto;
  filter: brightness(1.2) contrast(0.8) saturate(0.8);
}

.ad-img-2 {
  height: auto;              /* Verhältnis wahren */
  width: calc(50% - 10px);   /* zwei Cover nebeneinander, 10 px gap */
  object-fit: cover; 
  opacity: 0.9;
}
.ad-img-1 {
  height: auto;              /* Verhältnis wahren */
  width: 100%;   /* zwei Cover nebeneinander, 10 px gap */
  object-fit: cover; 
  opacity: 0.9;
}

.plattform-ad {
  width: 100%;
  max-width: 300px;
  min-height: 100px;
  overflow: hidden;
  padding: 0 20px 10px 20px;
}

.float-y-animation {
  animation: floatY 2s ease-in-out infinite;
}


@keyframes floatY {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}

