.platform-container {
  width: 100%;
  min-width: 70px;
  max-width: 300px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.platform-container > button {
    margin-top: 5px;
}.platform-container > button:hover {
    box-shadow: none;
    border: none;
}

.platform {
  background-color: transparent;
  width: 100%;
  border: none;
}

.plattform-img:hover {
  cursor: url('/icons/fadenkreuz.svg')0 0, auto;
  filter: brightness(1.2) contrast(0.8) saturate(0.8);
}

.ad-img-2 {
  width: calc(50% - 10px);   
  object-fit: cover; 
  opacity: 0.9;
  margin: 5px;
}
.ad-img-1 {
  height: auto;              
  width: 100%;   
  object-fit: cover; 
  opacity: 0.9;
}

.plattform-ad {
  overflow: hidden;
  padding: 0 20px 10px 20px;
}

.plattform-ad > h3 {
    margin: 0.2rem 0;
}

.float-y-animation {
  animation: floatY 2s ease-in-out infinite;
}


@keyframes floatY {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}



.buy-banner {
  position: absolute;
  bottom: 0;
  left: 0;

  /* genug Länge, damit die Diagonale den Container komplett schneidet   */
  width: 140%;
  padding: 0.35em 0;

  background: rgba(220, 0, 0, 0.55);
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;

  box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);

  transform-origin: left bottom;
  transform: rotate(var(--angle)) translateY(50%);
  z-index: 2000;
}

.buy-banner:hover {
  background: rgba(255, 0, 0, 0.75);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
}
