.content-grid {
  display: grid;
  position: relative;
  grid-template-columns: 16px 1fr 16px;
  grid-template-rows: 16px 1fr 16px;
  width: 100%;
  max-width: 1100px;
  /* min-height: calc(100vh - var(--footer-h)); */
  margin: 20px auto ;
}

.content {
  grid-column: 2;
  grid-row: 2;
  padding: 24px;
  border-radius: 4px;
}

/* 🟦 Ränder */
.edge.top {
  grid-column: 2;
  grid-row: 1;
  background-color: black;
}

.edge.bottom {
  grid-column: 2;
  grid-row: 3;
  background-color: black;
}

.edge.left {
  grid-column: 1;
  grid-row: 2;
  background-color: black;
}

.edge.right {
  grid-column: 3;
  grid-row: 2;
  background-color: black;
}

/* 🟨 Ecken */
.corner.top-left {
  grid-column: 1;
  grid-row: 1;
  background-color: black;
}

.corner.top-right {
  grid-column: 3;
  grid-row: 1;
  background-color: black;
}

.corner.bottom-left {
  grid-column: 1;
  grid-row: 3;
  background-color: black;
}

.corner.bottom-right {
  grid-column: 3;
  grid-row: 3;
  background-color: black;
}
