.menu {
  position: fixed;
  top: var(--header-h);
    z-index: 1000; 
}

.menu-btn {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  overflow: hidden;
}


/* Das Panel */
.hologram-bg {
  position: absolute;
  color: #ffffff;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  background-color: rgba(123, 195, 243, 0.2);
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(123, 195, 243, 0.3) 0 2px,
    transparent 8px 10px
  );
  animation: hologram-scroll 30s linear infinite;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0px,
    #000 10px,
    #000 calc(100% - 10px),
    transparent 100% 
  );
  mask-image: linear-gradient(
    to right,
    transparent 0px,
    #000 10px,
    #000 calc(100% - 10px),
    transparent 100%
  );
}


@keyframes hologram-scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100px;
  }
}
